{% for project in include.projects %}

<div class="widget">
    <div class="project-description">
        <h2 class="title">
            {{project.type}}
        </h2>
        <div class="list">
            {{project.list}}
        </div>
    </div>
    <div class="project-info">
        <div class="project-name">
            {{project.name}}
        </div>
        <div class="project-picture">
            <img src="{{project.picture}}"/>
        </div>
    </div>
</div>

{% endfor %}