---
---



@import "minima";

.site-header {
  background-color: #6CC17C;
  .site-title, .page-link {
    color: #F8F4E3;
  }
}

.project-type {
  h2 {
    display: inline-block;
    padding: 0 5px 0 5px
  }

  .group {
    margin: auto;
    width: 66.66%;
    text-align: center;
  }
}